.CreatePage {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom: 50px;
}
.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
  font-size: 1.5rem;
}
.text-area {
  width: 80%;
  min-height: 500px;
  font-size: 2rem;
}
.submit-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}
