.CreatePage {
  background-color: beige;
}
.form-wrapper {
  width: 80%;
  margin: 0 auto;
}
.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
  font-size: 1.5rem;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}
.submit-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}
